{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

    <form method="POST">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button type="submit" class="btn btn-main">Salvar</button>
        <a href="{% url 'list_funcionarios' %}" class="btn btn-info">
            Cancelar
        </a>
    </form>
    <br>

    <br>
    {% if object %}
    <a href="{% url 'create_documento' object.id %}" class="btn btn-success">
        Adicionar documento
    </a>
    {% endif %}
    <br><br>
    {% for documento in object.documento_set.all %}
        <a href="{{documento.arquivo.url}}">{{documento}}</a>  <br>
    {% endfor %}



{% endblock %}